quartz.scheduler.instanceName = MpScheduler
quartz.serializer.type = json
quartz.threadPool.maxConcurrency = 3

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate
quartz.jobStore.useProperties = true
quartz.jobStore.dataSource = myDS

quartz.dataSource.myDS.provider = SqlServer
quartz.dataSource.myDS.connectionString = Server=(localdb)\mssqllocaldb;Database=quartztest;Integrated Security=True;
